* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#header {
    max-height: 56px;
    background-color: #343a40;
    text-decoration: none;
}

#header ul li a:hover {
    color: #FFBC09;

    
}


.padding-right {
    padding-right: 15px;
}

#header a {
    color: white;
}

.padding-header {
    padding: 15px;
}

ul {
    list-style-type: none;
}

.btn {
    color: white;
    background-color: #FFBC09;
    margin-left: 15px;
}

#header .btn:hover {
    color: white;
    background-color: #DF9C00;
}

#navigation {
    height: 58px;
    padding-top: 20px;
    text-decoration: none;
}

#navigation ul li a:hover{
    color: #FFBC09;
    -webkit-transition: 0.4s;
    transition: 0.4s;

}
#navigation li:hover  .show{
    display: block;
    }
    #navigation ul li .dropdown-menu {
      
        border-radius: 0;
      }
      #navigation .dropdown-item:hover {
        background-color: transparent;
      }

.navbar-nav {
    justify-content: flex-start;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    padding: 0px 75px;
    font-size: 20px;
}

.home {
    display: none;
}

#dropdownMenuButton {
    color: black;
    background-color: white;
    margin-left: 15px;
    border: none;
}

#dropdownMenuButton:hover {
    color: orange;
}

#slider {
    padding-top: 20px;
}

.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev-icon {
    display: none;
}

.icon {
    padding: 20px 25px;
    border-radius: 50%;
    background-color: rgb(41, 42, 43);
    opacity: 1;
}

.icon:hover {
    background-color: rgb(41, 42, 43, 0.2);
}

#slider h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 750;
    vertical-align: bottom;
}

#slider p {
    font-weight: 400;
}

.carousel-caption {
    margin-bottom: 480px;
}

.btn-outline-secondary {
    background-color: rgb(0, 0, 0, 0.2);
}

.btn-outline-secondary:hover {
    background-color: white;
    color: yellow;
}

#feature {
    padding: 80px 0px;
    background-color: #F7F7F7;
}

#feature h2 {
    font-size: 30px;
    color: #292b2c;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

#feature p {
    color: #888888;
    margin-bottom: 40px;
}

.border {
    height: 325px;
    border-color: red;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.bg_danger {
    background-color: #f5576c;
    height: 110px;
    width: 110px;
    border-radius: 100%;
    display: inline-block;
    padding: 20px;
    position: relative;
    margin: 30px;
    animation-delay: 0.02s;
    opacity: 1;
}

.bg_default {
    background-color: #FFBC09;
    height: 110px;
    width: 110px;
    border-radius: 100%;
    display: inline-block;
    padding: 20px;
    position: relative;
    margin: 30px;
}

.bg_light_green {
    background-color: #B3D369;
    height: 110px;
    width: 110px;
    border-radius: 100%;
    display: inline-block;
    padding: 20px;
    position: relative;
    margin: 30px;
}

.icon_box {
    /*   padding: 30px;
    z-index: 9;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;*/
    animation-delay: 0.02s;
    opacity: 1;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
    
}

.icon_box:hover {
    margin-top: -20px;
   
}

#pop-categories {
    padding-top: 80px;
  
}

#pop-categories h2 {
    font-size: 30px;
    color: #292b2c;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

#pop-categories p {
    color: #888888;
}

#pop-categories {
    padding: 100px 0px;
}

#pop-categories #services {
    width: 100%;
}

#pop-categories .owl-carousel {
    text-decoration: none;
    color: #fff;
}

#pop-categories .owl-carousel .item {
    text-align: center;
    height: 120px;
    padding: 25px 20px;
    margin: 0 7px;
    border-radius: 10px;
}

#pop-categories .owl-carousel .item i {
    font-size: 30px;
    margin-bottom: 10px;
}

#pop-categories .owl-carousel .item p {
    font-size: 16px;
    color: #fff;
}

#pop-categories .owl-carousel .item a {
    color: #fff;
}

#pop-categories .owl-carousel .item a:hover {
    text-decoration: none;
}

#pop-categories .owl-carousel .item.business {
    background-color: #B3D369;
    color: #fff;
}

#pop-categories .owl-carousel .item.development {
    background-color: #fd7e14;
}

#pop-categories .owl-carousel .item.health {
    background-color: #00C3CB;
}

#pop-categories .owl-carousel .item.language {
    background-color: #f5576c;
}

#pop-categories .owl-carousel .item.academics {
    background-color: #FFBC09;
}

#pop-categories .owl-carousel .item.photography {
    background-color: #e83e8c;
}

#pop-categories .owl-carousel .owl-prev, #pop-categories .owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #292b2c;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(128, 128, 128, 0.747);
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.747);
    width: 30px;
    height: 30px;
    display: none;
}

#pop-categories .owl-carousel .owl-prev {
    left: -26px;
}

#pop-categories .owl-carousel .owl-next {
    right: -26px;
}

.icon-owl {
    padding: 10px 15px;
    opacity: 1;
    background-color: white;
    color: black;
    margin-bottom: 36px;
    /* display: none;  */
}

.servicesPrev {
    margin-left: -42px;
    position: absolute;
    left: 60px;
    z-index: 1;
    left: 56px;
    top: 36px;
}

.servicesNext {
    margin-right: -42px;
    position: absolute;
    left: 60px;
    z-index: 1;
    left: 1057px;
    top: 36px;
}

.overlap_section {
    margin-right: -50px;
    position: relative;
    z-index: 2;
    border-radius: 0 200px 200px 0;
    margin-left: 64px;
}

.box_shadow1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.padding_eight_all {
    padding: 8%;
    margin-left: -4%;
    margin-right: -24%;
    background-color: white;
    margin-top: 24px;
}


#about-us .content {
    padding: 50px;
    border-radius: 0 1000px 1000px 0;
    border: none;
    left: -50px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px #acaaaa;
    box-shadow: 0 0 10px #acaaaa;
    width: 720px;
    margin-top: 20px;
    height: 410px;
}

#about-us .content p {
    color: #888888;
    margin: 20px 0px;
}

#about-us .content ul {
    list-style: none;
    padding: 0;
}

#about-us .content ul li {
    display: inline-block;
    padding: 0;
    margin-right: 25px;
}

#about-us .content ul li:nth-child(1) {
    color: #f5576c;
}

#about-us .content ul li:nth-child(2) {
    color: #B3D369;
}

#about-us .content ul li p {
    font-weight: bold;
    color: black;
}

#about-us .vd-photo {
    width: 674px;
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: -10;
}

#about-us .vd-photo:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 45, 45, 0.411);
}

#about-us .vd-photo img {
    height: 100%;
    width: 100%;
}

#about-us a i {
    position: absolute;
    z-index: 5;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    color: #FFBC09;
    top: 45%;
    left: 47%;
}

#about-us a i:after {
    content: '';
    position: absolute;
    border: 10px solid rgba(243, 237, 237, 0.411);
    top: 7px;
    left: 8px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    -webkit-animation-name: play-animation;
    animation-name: play-animation;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#our-courses {
    padding: 80px 0px;
    background-color: #F7F7F7;
}

#our-courses h2 {
    font-size: 30px;
    color: #292b2c;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

#our-courses p {
    color: #888888;
}

#our-courses h5 {
    color: #292b2c;
}

#our-courses h5:hover {
    color: #ffc600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#our-courses a {
    color: #292b2c;
}

#our-courses a:hover {
    color: #ffc600;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.courses {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: -2px;
    margin-top: 33px;
    background-color: white;
}

.courses-image {
    overflow: hidden;
}

.courses-image img {
    width: 100%;
    height: 100%;
}

.courses-image:hover img {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    transition-duration: 1.4s;
}

.courses-text {
    margin: 15px;
}

.courses-star-icon {
    color: #ffc600;
    padding-left: 15px;
}

.user-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    margin: 10px 10px 10px 25px;
}

.user-image img {
    width: 100%;
}

.user-name {
    width: 150px;
    margin-top: 25px;
}

.course-button {
    margin-left: 15px;
    padding-top: 40px;
    padding-bottom: 70px;
}

#our-courses .btn {
    padding: 15px 30px;
    margin-top: 25px;
    border: none;

}

#our-courses .btn:hover {
    background-color: #DF9C00;
    color: white;
}

.courses-user-image {
    border-top: 1px solid;
    border-color: #dbdbdb;
}

#counter {
    background-image: url(../img/counter.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
    /* position: absolute;
  background-image: url(../img/counter.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1583px;
    height: 541px;
    transform: translate3d(0px, -316.25px, 0px);
    transition: transform 100ms ease 0s;
    z-index: -1; */
}

#counter::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 41, 77, 0.70);
}

.item {
    text-align: center;
    padding-top: 125px;
    color: white;
}

.item img {
    padding-bottom: 15px;
}

#events {
    padding: 80px 0px;
    background-color: #F7F7F7;
}

#events p {
    color: #888888;
    margin: 7px 0px;
}

#events .far {
    padding: 10px;
    color: #888888;
}

#events .fas {
    padding: 10px;
    color: #888888;
}

#events h5 {
    color: #292b2c;
}

#events h5:hover {
    color: #ffc600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#events a {
    color: #ffc600;
}

#events a:hover {
    color: #ffc600;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#events .courses-user-icon {
    margin-left: -30px;
}

#online-courses {
    background-image: url(../img/online-courses.png);
    background-color: #07294D;
    padding-top: 80px;
    color: white;
}

#option-tool {
    width: 186px;
    height: 30px;
}

#online-courses .baku {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 40px;
}

#online-courses .text_default{

    color:#ffc600;
}

#online-courses .forms-details {
    padding-top: 15px;
    background-color: transparent;
}

#fname1, #fname2, #fname3, #option-tool, #message-tool {
    background-color: transparent;
    border-color: white;
    border: 1px solid #ced4da;
    width: 174px;
    height: 45px;
    color: white;
    margin-right: 34px;
    border-radius: 5px;
    padding-left: 20px;
}

#message-tool {
    height: 200px;
    width: 386px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

#online-courses .course-button {
    margin-left: -15px;
    padding-top: 12px;
    padding-bottom: 0px;
}

#our-gallery {
    padding: 80px 0px;
    background-color: #F7F7F7;
}

#our-gallery .gallery-image {
    border-radius: 25px;
    padding: 10px;
}

#teachers {
    background-image: url(../img/teacher.jpg);
    background-repeat: none;
    background-color: #07294D;
    /* padding-top: 80px; */
    color: white;
    background-size: auto;
    background-repeat: no-repeat;
    /* height: 965px; */
    position: relative;
}

#teachers::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 41, 77, 0.70);
    /* height: 946px; */
    /* margin-top: -70px; */
}

#teachers img {
    width: 100%;
}

#teachers .courses {
    background-color: white;
}

#teachers h5 {
    color: black;
}

#teachers h5:hover {
    color: #ffc600;
}

#teachers .courses p {
    color: #888888;
}

#teachers .courses-image:hover img {
    -ms-transform: none;
    /* IE 9 */
    -webkit-transform: none;
    /* Safari 3-8 */
    transform: none;
}

#teachers-image a {
    color: white;
}

#teachers-image a:hover {
    color: #ffc600;
    text-decoration: none;
}

#teachers-image .float-left {
    position: relative;
    bottom: 222px;
    left: 40px;
    visibility: hidden;
    opacity: 0;
}

#teachers-image:hover .float-left {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    animation-delay: 0.02s;
    /* background-color: rgba(7, 41, 77, 0.70);
        width: 216px;
        height: 217px;
        margin-top: -78px;
         padding: 0px;
        margin-left: -42px;
        border-radius: 10px;
        text-align: center;
        justify-content: center; */
}

#teachers-image:hover .courses-image:before {
    content: "";
    position: absolute;
    height: 62%;
    width: 92%;
    background-color: rgba(7, 41, 77, 0.70);
    overflow: hidden;
    border-radius: 10px;
    opacity: 0.8;
}

.quba {
    padding-left: 0px;
}

/*#teachers-image:before{    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 41, 77, 0.70);}
*/

#students {
    background-color: white;
    margin: 80px 0px;
}

#students .item {
    color: black;
    border-radius: 10px;
    width: 480px;
    height: 220px;
    margin: 0 50px;
    padding: 25px;
    padding-left: 80px;
    -webkit-box-shadow: 0 0 5px #b8b3b3;
    box-shadow: 0 0 5px #b8b3b3;
    position: relative;
    cursor: pointer;
}

#students .owl-carousel .owl-item img {
    display: block;
    width: auto;
    position: absolute;
    top: 20px;
    leftt: 8px;
    left: -25px
}

#students .owl-carousel .item h6 {
    font-size: 15px;
    margin-bottom: 8px;
}

#students .owl-carousel .item span {
    font-size: 16px;
    color: #FFBC09;
    font-style: italic;
}

#students .owl-carousel .item p {
    font-size: 15px;
    color: #888888;
    margin: 5px 0;
}

/* #students .owl-corusel{
     width: 450px;
 } */

#our-blog {
    padding: 80px 0px;
    background-color: #F7F7F7;
}

#our-blog .far {
    padding: 10px;
    color: #ffc600;
}

#our-blog .fas {
    padding: 10px;
    color: #ffc600;
}

#our-blog .courses-image:hover img {
    -ms-transform: none;
    /* IE 9 */
    -webkit-transform: none;
    /* Safari 3-8 */
    transform: none;
}

#our-blog p {
    color: #888888;
    margin: 7px 0px;
}

#our-blog h5 {
    color: #292b2c;
}

#our-blog h5:hover {
    color: #ffc600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#our-blog a {
    color: #888888;
}

#our-blog .text-capitalize {
    color: black;
}

#our-blog a:hover {
    color: #ffc600;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#our-client {
    margin-top: 80px;
}

#our-clients h4 {
    color: black;
}

#our-clients .item {
    /* margin: 0 20px; */
    width: 154px;
    margin-top: -70px;
    margin-bottom: 70px;
    opacity: 0.7;
}

#training {
    background-color: #FFBC09;
    height: 156px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

#training .btn {
    border-color: white;
    padding: 10px 31px;
}

#training .btn:hover {
    background-color: white;
    color: #FFBC09;
}

#footer {
    /* background-color: #343a40; */
    color: white;
    /* padding: 80px 0px; */
}

#footer ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

#footer a {
    color: white;
    font-size: 14px;
}

#footer .ctc-info img {
    margin-bottom: 15px;
}

#footer .ctc-info li {
    margin-bottom: 10px;
}

#footer .top-footer {
    padding: 80px 0;
    background-color: #343a40;
}

#footer .fas {
    padding: 5px;
}

#footer p {
    font-size: 14px;
}

#footer .item-date p {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.6);
}

#footer h5 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#footer .useful-links li {
    padding: 0 0 10px;
}

#footer .recent-item {
    position: relative;
    margin-bottom: 15px;
}

#footer .item-date {
    width: 190px;
    position: absolute;
    top: 0;
    left: 60px;
    padding: 0 10px;
}

.news-letter-form {
    position: relative;
}

.news-letter-form button {
    position: absolute;
    right: 4px;
    top: 4px;
}


.follow-us li {
    display: inline-block;
    padding: 2px 3px;
}

.follow-us li a {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 18px;
    height: 35px;
    width: 35px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 15%;
}

#footer .bottom-footer {
    background-color: #202325;
    padding: 30px 0;
    position: relative;
}

#footer .bottom-footer li {
    display: inline-block;
    position: relative;
}

#footer .bottom-footer li a {
    padding: 0px 2px;
}

#about-counter {
    background-color: #F7F7F7;
    background-position: center;
    background-size: cover;
    position: relative;
}

#about-counter .item {
    text-align: center;
    padding-top: 125px;
    color: black;
    padding: 80px 0px;
}

#about-counter .item img {
    padding-bottom: 15px;
    color: black;
}

#about-us-title{
    background-image: url(../img/about_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 203px;
    /* transform: translate3d(0px, -198.25px, 0px); */
    transition: transform 100ms ease 0s;
    z-index: -1;
    margin-top: 30px;
    position: relative;
    color: white;
}

#about-us-title::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.50);
}

#about-us-title .title-text{

    padding-top: 80px;
}
#events .date{

    position: absolute;
    top: 42px;
    left: 26px;
    max-width: 75px;
    /* background-color: #fff; */
    text-align: center;
    width: 100%;
}
#events .day{
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -8px;
}

#events .day h5 {

    color: #292b2c;
    /* padding: 5px; */
    font-size: 24px;
    margin: 0;
    padding: 5px;
}
#events .day h6 {

    color: #292b2c;
    /* padding: 5px; */
    font-size: 14px;
    margin: 0;
    padding: 5px;
}
#events .time p{

    color: white;
    padding: 3px;
    margin-bottom: -3px;
    font-size: 14px;
}
#events .time{
    background-color: #FFBC09;
    height: 100%;
    border-radius: 0 0 5px 5px;

}
#events .page ul li {
    display: inline-block;
    color: #888888;
    border: 2px solid #c5c4c4;
    height: 40px;
    width: 40px;
    margin: 2px;
    line-height: 40px;
    border-radius: 5px;
  }
  #events .page ul li:hover{
    background-color: #FFBC09;
    color: white;
    border-color: #FFBC09;
  }
  #events .page ul li:hover .fas{
    background-color: #FFBC09;
    color: white;
    border-color: #FFBC09;
  }



  #events .page{

    padding: 40px 0px 40px 0px;
  }

  #event-details .date{

    position: absolute;
    top: 42px;
    left: 26px;
    max-width: 75px;
    /* background-color: #fff; */
    text-align: center;
    width: 100%;
}
#event-details .day{
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -8px;
}

#event-details .day h5 {

    color: #292b2c;
    /* padding: 5px; */
    font-size: 24px;
    margin: 0;
    padding: 5px;
}
#event-details .day h6 {

    color: #292b2c;
    /* padding: 5px; */
    font-size: 14px;
    margin: 0;
    padding: 5px;
}
#event-details .time p{

    color: white;
    padding: 3px;
    margin-bottom: -3px;
    font-size: 14px;
}
#event-details .time{
    background-color: #FFBC09;
    height: 100%;
    border-radius: 0 0 5px 5px;

}
#event-details .page ul li {
    display: inline-block;
    color: #888888;
    border: 2px solid #c5c4c4;
    height: 40px;
    width: 40px;
    margin: 2px;
    line-height: 40px;
    border-radius: 5px;
  }
  #event-details .page ul li:hover{
    background-color: #FFBC09;
    color: white;
    border-color: #FFBC09;
  }
  #event-details .page ul li:hover .fas{
    background-color: #FFBC09;
    color: white;
    border-color: #FFBC09;
  }



  #event-details .page{

    padding: 40px 0px 40px 0px;
  }

  #event-details .courses{

    border-radius: 0px;
  }
  #event-details p {
    color: #888888;
    margin: 7px 0px;
}

#event-details .far {
    padding: 10px;
    color: #888888;
}

#event-details .fas {
    padding: 10px;
    color: #888888;
}

#event-details h5 {
    color: #292b2c;
}

#events h5:hover {
    color: #ffc600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#event-details a {
    color: #ffc600;
}

#event-details a:hover {
    color: #ffc600;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#event-comment{
    padding-top: 30px;
}

#event-comment .baku {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#event-comment .text_default{

    color:#ffc600;
}

#event-comment .forms-details {
    padding-top: 15px;
    background-color: transparent;
}

#event-comment .fname-add{
width: 100%;
color: black;
}

#event-comment ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #666666;
}

#event-comment .btn{
    padding: 10px 32px;
    margin-left: -15px;
}

#event-comment .btn:hover{
    background-color: #DF9C00;
    border-color: #DF9C00;
    color: white;
}

